extends ./base.jade

{% from "_formhelpers.jade" import render_field %}

block title
  title Edit &#124; urlsaver.ua

block main
  .width-80
    form(method="post", action=url_for("edit_url", id=url.id))
      input(type='hidden', value='{{ csrf_token }}', name='csrfmiddlewaretoken')
      | !{render_field(form.title, value=url.title)}
      | !{render_field(form.url, value=url.url)}
      | !{render_field(form.groupname, placeholder=" -- please enter groupname here --",value=url.groupname)}
      input(type="submit", value="Save changes")
