extends ./base.jade

{% from "_formhelpers.jade" import render_field %}

block title
  title Saved URLs &#124; urlsaver.ua

block search
  form(method="post", action=url('main')).search
    | csrf_token
    | render_field(form.search)
    input(type="submit", value="")

block groups
  .groups
    | &#124; 
    a(href=url('main')) all links 
    | &#124;
    for groupname in groupnames
      if groupname != ''
        a(href=url('groupname', groupname=groupname)) #{groupname} 
        | &#124; 
    a(href=url('groupname', groupname=groupname)) ungrouped links 
    | &#124;

block main
  table
    tbody
      for url in urls
        tr
          td.pageicon
            img(src="http://www.google.com/s2/favicons?domain=#{url.url}")
          td
            a(href='#{url.url}') #{url.title}
          td.date
            | url.date.strftime('%d.%m.%y | %H:%M')
          td
            .edit
              a(href=url('edit', id=url.id)) edit 
              | &#124; 
              a(href=url('delete', id=url.id)) delete

block nav
  a(href=url('logout')) Logout
